// Greys
$article-white = #f5f5f5
$border-grey = #eaeaea
$lt-grey = #ccc
$med-grey = #999
$dark-grey = #333
$sheer-black = rgba(0,0,0,0.4)
$sheer-white = rgba(255,255,255,0.75)

// Colors
$dark-blue = #052f5f
$turquoise = #19647e
$green = #06a77d
$yellow = #d5c67a
$orange = #f1a208

$mobile-breakpoint = 768px
